@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding-bottom: 4%;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
}

.hl {
    font-size: 18px !important;
}

.header div {
    display: flex;
    gap: 2vw;
}

.sub-header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 8vw;
}

.sub-header1 {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1F2937;
    flex-basis: 35vw;
}


.sub-header1 h1 {
    max-width: 80%;
    font-size: 48px;
}

.sub-header1 p {
    margin-top: -2vw;
    max-width: 90%;
    color: #E5E7EB;
    font-size: 18px;
}

.sub-header1 button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    width: 24%;
    height: 2em;
    font-size: 17px;
    font-weight: 600;
}

#image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
    flex-basis: 35vw;
    margin-top: 2em;

}

.sub-header1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rf-container h2 {
    font-size: 36px;
    font-weight: extra-bold;
    margin-top: 10vh;
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    margin-top: 2vh;
}

.info {
    max-width: 10em;
    text-align: center;
}

.info p {
    max-width: 95%;
    margin-left: 1vw;
}

.info-box {
    width: 10em;
    height: 10em;
    border-width: 5em;
    border: solid;
    border-color: #3882F6;
    border-radius: 15px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    margin-top: 15vh;
    background-color: #E5E7EB;
    padding-bottom: 15vh;

}

.t1 :nth-child(1) {
    max-width: 55vw;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: -20px;
}

.t1 :nth-child(2) {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 900;
    max-width: 95%;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25vw;
}

.cta-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    width: 70vw;
    height: 10vw;
}

.cta-info-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-info-1 :nth-child(1) {
    color: white;
    font-weight: 700;
    font-style: bolder;
    font-size: 20px;
    margin-bottom: -1.5vh;
}

.cta-info-1 :nth-child(2) {
    color: white;
}

.cta button {
    width: 8em;
    height: 2.5em;
    border-radius: 8px;
    font-size: 15px;
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-color: white;
}

